<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
        <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Template-Driven</a></li>
        <li class="nav-item"><a routerLink="/rform" class="nav-link" routerLinkActive="active" >Reactive Form</a></li>
        <li class="nav-item"><a routerLink="/rfval" class="nav-link" routerLinkActive="active" >RForm with Validation</a></li>
        </ul>
    </header>
</div>
<router-outlet />
